# =========================
# Node
# =========================
node_modules/
npm-debug.log*

# =========================
# Python
# =========================
**/.venv/
**/__pycache__/
*.py[cod]
.python-version

# =========================
# Environment
# =========================
**/.env

# =========================
# Uploaded files
# =========================
backend/data/
backend/chroma_db/

# =========================
# Build
# =========================
dist/
build/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store

# =========================
# Root uv (not needed)
# =========================
uv.lock